* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.column {
    width: calc( 35% - 0px );
}

.container {
    max-width: 1000px;
}
.column {
    width: 100%;
    box-shadow: 0px 0px 30px 0px rgba(119, 119, 119, 0.137);
}
.w25 {
    margin: 5px 0 -10px 5px;
}
.contact{
    display: inline-block;
}
.om{
    padding-bottom: 60px;
}
.face{
    margin: 0 100px 0px 0;
}
.info p{
    padding-left: 40px;
    padding-right: 40px;
}

.hog img{
    padding: 8% 0;
}

.mellan{
        padding: 100px 0;
}
.btn-lan{
    margin: 0px 46%;
}
